/* index.html的样式 */
.topbar-wrapper{
    /* 设置宽度全屏 */
    width: 100%;
    /* 设置高度和行高 */
    height: 40px;
    line-height: 40px;
    /* 设置背景颜色 */
    background-color: #333;
}
/* 设置超链接颜色 */
.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}
/* 设置超链接移入效果 */
.topbar a:hover{
    color: white;
}
/* 设置超链接分割线 */
.topbar .line{
    color: #424242;
    margin: 0 7px;
    margin-top: -1px;
}
/* 设置左侧导航栏 */
.service,.topbar li{
    float: left;

}
.app{
    position: relative;
}
li:hover>.app .qrcode,
li:hover>.app::after{
    display: block;
    height: 148px;
}
/* 也可以这么写 */
/* .app:hover .app .qrcode,
.app:hover::after{
    display: block;
} */
.app::after{
    display: none;
    content: '';
    /* 设置内容区为0 */
    /* width: 0px;
    height: 0px; */
  /* 开启绝对定位 */
    position: absolute;
    bottom: 0px;
    left: 18px;
    /* bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto; */
    /* 设置边框样式 */
    border: 6px solid transparent;
    border-top: none;
    border-bottom-color: white;
}
/* 设置下载app下拉 */
.app .qrcode{
    /* display: none; */
    /* 开启绝对定位，不在父元素中占据位置 */
    position: absolute;
    /* left: -38px; */
    right: -44px;
    width:124px;
    height: 0px;
    overflow: hidden;
    background-color: #fff;
    line-height: 1;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    /* transition:用于给样式设置过渡效果 */
    transition: height ,.4s;
    z-index: 99;
}
/* 设置二维码图片 */
.app .qrcode img{
    width: 90px;
    margin: 17px 17px;
    margin-bottom: 10px;
}
/* 设置二维码文字 */
.app .qrcode span{
    color: rgb(0,0,0);
    font-size: 14px;
}
/* 设置右侧购物车左边距 */
.shopcar{
    margin-left: 25px;
}
/* 设置右侧导航栏 */
.shopcar,.user-info{
    float: right;
}
/* 设置购物车样式 */
.shopcar a{
    width: 120px;
    background-color: #424242;
    text-align: center;
}

.shopcar :hover a{
    background-color: white;
    color: #ff6700;
}
.shopcar i{
    margin-right: 2px;
}
/* 开启header-wrapper的相对定位 */
.header-wrapper{
    position: relative;
}
/* 设置中间的header */
.header{  
    /* float: left; */
    height: 100px;
    /* background-color: #bfa; */
}
/* 设置logo的h1 */
.header .logo{
    float: left;
    margin-top: 22.5px;
    width: 55px;
    height: 55px;
    overflow: hidden;
    position: relative;
    /* 隐藏logo中的文字 */
    text-indent: -9999px;
}
/* 隐藏文字也可以将字体大小设置为0 */
/* .header h1{
    font-size: 0px;

} */
/* 统一设置logo的超链接 */
.header .logo a{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0px;
    /* background-color: red; */
    background-image: url(../img/logo.png);
    background-size: cover;
    transition: left 0.3s;
}
/* 设置home图片 */
.header .logo .home{
    /* display: block; */
    /* position: absolute; */
    left: -55px;
    background-image: url(../img/mi.jpg);
}
/* 旧版图标设置鼠标移入时logo图标的转换 */
.header .logo:hover .mi{
    left: 55px;
}
.header .logo:hover .home{
    left: 0px;
}

/* 新版图标的变化 */
/* .logo:hover{
    left: 1.5px;
} */

/* 设置中间导航条 */
.header .nav-wrapper{
    float: left;
    /* margin-left: 58px; */
}
/* 设置导航条 */
.nav-wrapper .nav{
    /* width: 792px; */
    height: 100px;
    /* 让文字垂直居中 */
    line-height: 100px;
    /* background-color: #bfa; */
    padding-left: 58px;
}
/* 设置导航条的li */
.nav> li{
    float: left;

}

.all-goods-wrapper{
    position: relative;
    /* background-color: red;* */
}
/* 设置左侧导航条的样式 */
.left-menu{
    width: 234px;
    height: 460px;
    background-color: rgba(0, 0, 0 ,.6);
    position: absolute;
    z-index: 999;
    left: -113px;
    line-height: 1;
}

ul .left-menu li a{
    display: block;
    line-height: 42px;
    color: white;
    margin-right: 0;
    padding: 0 30px;
    font-size: 14px;
}
ul .left-menu li a:hover{
    color: white;
    background-color:#ff6700 ;
}
.left-menu a i{
    float: right;
    line-height: 42px;
}
.nav-wrapper li a{
    /* display: block; */
    font-size: 16px;   
     margin-right: 22px;
}
/* 设置all .goods-info隐藏 */
.all-goods{
    visibility: hidden;
    /* float: left; */
    /* 使用display：none 使元素不占据位置，使得右边元素整体左移 */
    /* display: none; */
}
/* 移入时字体变红 */
.nav-wrapper a:hover{
    color: red;
}
/* 设置弹出层样式 */
.nav .goods-info{
    /* height: 228px; */
    height: 0;
    overflow: hidden;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 100px;
    transition: height 0.3s;
    z-index: 9999;
}
/* 设置移入时弹出下拉层 */
/* .nav li:not(:first-of-type):not(:nth-child(9)):not(:nth-child(10)):hover ~ .goods-info,.nav .goods-info:hover */
   .nav .show-goods:hover~.goods-info,
   .goods-info:hover{ 
    height: 228px;
   border: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(0, 0, 0 ,.3);
}


/* 设置头部右侧搜索框 */
.header .search-wrapper{
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
    /* border: 1px solid rgb(224, 224, 224); */
}
.search-wrapper .search .search-btn{
    padding-top: 1px;
    float: left;
    width: 52px;
    height: 51px;
    background-color: white;
    color: #616161;
    font-size: 16px;
    border:1px solid rgb(224, 224, 224);
}
.search-wrapper .search .search-inp{
    box-sizing: content-box;
    border: none;
    float: left;    
    width: 222px;
    height: 50px;
    padding: 0  10px;
    margin-top: -1px;
    font-size: 16px;
    /* background-color: red; */
    border: 1px solid rgb(224, 224, 224);
outline: none;
}
/* 设置input获取焦点以后的样式 */
.search-wrapper .search .search-inp:focus,
.search-wrapper .search .search-btn:focus+.search-wrapper .search .search-btn{
     border: 1px solid red;
}

.search-wrapper .search .search-btn:hover{
    background-color: #ff6700;
    color: white;
    border: none;
}
/* 设置banner样式 */
.banner{
    position: relative;
    height:460px

}
/* 使图片脱离文档流 */
.banner .img-list li{
    position: absolute;
}
/* 设置图片样式 */
.banner img{
    width: 100%;
    vertical-align: top;
}
/* 设置导航点样式，开启导航条绝对定位，脱离文档流，使得导航条可以不被浮动的图片盖住 */
.pointer{
    position: absolute;
    bottom: 32px;
    right: 35px;
    
}
/* 设置五个导航点 */
.banner .pointer a{
    float: left;
    width: 6px;
    height: 6px;
    margin-left: 6px;
    border: rgba(255, 255, 255, 0.4) 2px solid;
    border-radius: 50%;
    background-color: rgba(0, 0, 0 ,.4);
}

.pointer a:hover,.pointer a.active{
   background-color: rgba(255, 255, 255,  0.4);
   border-color: rgba(0, 0, 0 ,.4);

}


/* 设置两个箭头 */
.prev-next a{
    width: 41px;
    height: 69px;
    background-image: url(../img/icon-slides.png);
    /* background-color: red; */
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.prev-next .prev{
left: 234px;
background-position: -84px 0;
}

.prev-next .next{
    right: 0;
    background-position: -125px 0;
}

.prev-next .prev:hover{
    background-position: 0;
}
.prev-next .next:hover{
    background-position: -42px 0;
}

/* 设置回到顶部工具条 */
.to-top{
    width: 26px;
    height: 206px;
    background-color: #bfa;
    /* 开启固定定位 */
    position: fixed;
    bottom: 100px;
    right: 50%;
    margin-right: -639px;
    /* 
        auto + 0 +26 + -639 + 50% = 视口宽度
            right width margin-right固定，当视口大小变化时，优先改变left（auto）的值
        布局的等式 
            left + margin-left + width + margin-right + right = 视口的宽度
    */

}

.ad{
    /* background-color: red; */
    height: 170px;
    /* margin-top: 14px; */
    padding: 14px 0;
}

.ad .shortcut,
.ad .ad-imgs,.ad li{
    float: left;
}

.ad .shortcut{
    width: 234px;
    height: 168px;
    background-color: #5f5750;
    margin-right: 14px;
    padding-top: 2px;
    padding-left: px;
}
/* 设置超链接 */
.ad .shortcut a{
    overflow: hidden;
    display: block;
    color: #cfccca;
    height: 84px;
    width: 76px;
    text-align: center;
    font-size: 12px;
}  

.ad .shortcut a:hover{
    color: white;
}

/* 设置图标字体 */
.ad .shortcut i{
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}
/* 设置shortcut的边框 */
.ad .shortcut li{
    position: relative;
}
/* 设置上边框 */
.ad .shortcut li::before{
    content: '';
    position: absolute;
    width: 64px;
    height: 1px;
    background-color:#665e66;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* 设置左边框 */
.ad .shortcut li::after{
    content: '';
    position: absolute;
    height: 70px;
    width: 1px;
    top: 6px;
    left: 0;
    background-color: #665e66;

}
.ad .ad-imgs li{
    width: 316px;
    margin-right: 15px;
}
.ad .ad-imgs li:last-child{
    margin-right: 0;
}
/* 设置图片样式 */
.ad .ad-imgs img{
    width: 100%;
    /* 消除基线对齐 */
    vertical-align: top;
    /* padding-right: 10px; */
}
